html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    background-image: url("Digital Genesis.webp");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.banner {
    padding: 20px;
    color: rgb(255, 2, 2);
    text-align: center;
    height: 200px; /* Might adjust for mobile responsiveness */
    font-family: "Cinzel", serif;
    font-size: 65px; /* Adjusted for mobile screens */
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.hamburger-menu {
    background-color: #333;
    color: white;
    border: 1px white solid;
    cursor: pointer;
    padding: 10px; /* Adjust padding to manage the size */
    font-size: 20px;
    position: fixed; /* Keeps the button fixed during scroll */
    left: 0; /* Align to the very left */
    top: 0; /* Align to the very top */
    z-index: 10; /* Ensure it's above other elements */
    width: 40px; /* Adjust the width to your icon size */
    height: 40px; /* Adjust the height to your icon size */
    display: flex; /* To properly center the content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* Add padding to the top of the banner content to avoid overlap */
@media screen and (max-width: 768px) {
    .banner {
        margin-top: 60px; /* Add space for the fixed position hamburger menu */
        font-size: 30px; /* Adjust font size for mobile devices */
        padding: 10px; /* Adjust padding */
        /* Keep the height property if necessary, otherwise remove it */
    }

    /* Adjust the padding of the banner to prevent text from being hidden under the hamburger menu */
    .banner {
        padding-top: 70px; /* This value should be equal to or greater than the height of the hamburger menu */
    }
}

    /* Ensure navbar links are accessible and visually adjusted for mobile */
    .navbar a {
        padding: 10px 15px; /* Suitable padding for tap targets */
        font-size: 14px; /* Readability on smaller screens */
    }
}

.navbar a:hover {
    background-color: #575757;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 265px;
    left: 20px;
    padding: 10px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    z-index: 2;
    width: auto;
    border: 1px white solid;
    font: 2em sans-serif;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.text-container {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    color: #f50a0a;
    font-family: "Cinzel", serif;
}

p {
    font-size: 20px;
    font-family: "Cinzel", serif;
}

.contact-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #367c39;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333333;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    border-top: 2px solid #f7f8f7;
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar a {
        display: none;
    }

    .navbar.active .dropdown-content {
        display: block;
    }

    .navbar, .dropdown-content {
        width: 100%;
    }
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px;
    margin: 40px auto; /* Center the form on the page with some margin from the top and bottom */
    max-width: 500px; /* Maximum width of the form */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex;
    flex-direction: column; /* Stack form fields vertically */
    gap: 15px; /* Spacing between form fields */
}

.contact-form label {
    font-size: 1rem; /* Font size for labels */
    color: #333; /* Dark grey color for text */
    margin-bottom: 5px; /* Space between label and input */
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 95%; /* Full width of the form container */
    padding: 10px; /* Padding inside the inputs and textarea */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Slightly rounded corners for the inputs and textarea */
    font-size: 1rem; /* Font size within the inputs and textarea */
}

.contact-form textarea {
    height: 150px; /* Set a fixed height for the textarea */
    resize: vertical; /* Allow only vertical resizing of the textarea */
}

.contact-form button {
    padding: 10px 15px;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 4px; /* Slightly rounded corners for the button */
    cursor: pointer; /* Cursor changes to a pointer when hovering over the button */
    font-size: 1rem; /* Font size for the button text */
    transition: background-color 0.2s; /* Transition for a smooth color change */
}

.contact-form button:hover {
    background-color: #367C39; /* Darker shade of green on hover */
}

/* You can add media queries to make the form responsive */
@media (max-width: 768px) {
    .contact-form {
        padding: 15px;
        margin: 20px; /* Adjust margins for smaller screens */
    }
}

#payButton {
    padding: 10px 15px;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 4px; /* Slightly rounded corners for the button */
    cursor: pointer; /* Cursor changes to a pointer when hovering over the button */
    font-size: 1rem; /* Font size for the button text */
    transition: background-color 0.2s; /
}

#payButton:hover {
    background-color: #45a049; /* Slightly lighter green on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* More pronounced box shadow on hover */
}

#payButton:active {
    background-color: #3e8e41; /* Even darker green on active */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Less pronounced box shadow to simulate pressing down */
}

.button-link {
    display: inline-block; /* Make the link behave like a block element */
    padding: 10px 15px;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 4px; /* Slightly rounded corners */
    cursor: pointer; /* Cursor changes to a pointer when hovering */
    font-size: 1rem; /* Font size similar to the button */
    text-align: center; /* Center the text inside */
    text-decoration: none; /* Remove underline from link */
    transition: background-color 0.2s, box-shadow 0.2s; /* Smooth transition for background and box-shadow */
    text-shadow: 1px 1px 2px #000; /* Subtle text shadow */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Soft box shadow */
}

.button-link:hover {
    background-color: #45a049; /* Lighter green on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* More pronounced box shadow on hover */
}

.button-link:active {
    background-color: #3e8e41; /* Darker green on active */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Less pronounced box shadow to simulate pressing down */
}
.main-banner {
    /* This will only affect the .banner within the .main-banner class */
    padding: 20px;
    color: rgb(255, 2, 2);
    text-align: center;
    /* Keep your existing styles here */
}

/* Responsive adjustments for the .main-banner on mobile devices */
@media screen and (max-width: 768px) {
    .hamburger-menu {
        position: fixed; /* Keeps the hamburger menu fixed at the top of the viewport */
        right: 20px; /* Aligns to the right */
        top: 20px; /* Aligns to the top */
        z-index: 100; /* Ensures it's on top of other content */
    }

    .main-banner {
        margin-top: 80px; /* Increase top margin to ensure banner text is below the hamburger menu */
        font-size: 30px; /* Adjust font size for smaller screens */
        height: auto; /* Allows height to adjust to content */
        padding: 10px; /* Adjusts padding as needed */
    }
}

.form-messages {
    margin: 10PX
}
